<div>
    <form
        action="http://localhost:8080/api/products"
        method="post"
        enctype="multipart/form-data"
    >
        <input type="text" name="title" placeholder="Product's title" />
        <input
            type="text"
            name="description"
            placeholder="Product's description"
        />
        <input type="text" name="category" placeholder="Product's category" />
        <input type="number" name="stock" placeholder="Product's stock" />
        <input type="number" name="price" placeholder="Product's price" />
        <input type="number" name="code" placeholder="Product's code" />
        <label><input type="radio" name="status" value="true" /> True</label>
        <label><input type="radio" name="status" value="false" /> False</label>
        <input type="file" name="file" placeholder="Product's thumbnail" />
        <button type="submit">Add Product</button>
    </form>
</div>