<div class="realTimeForm">
    <form enctype="multipart/form-data" id="realTimeForm">
        <span class="inputs">
            <span class="leftInputs">
                <input type="text" name="title" placeholder="Title" required />
                <input
                    type="text"
                    name="description"
                    placeholder="Description"
                    required
                />
                <input
                    type="text"
                    name="category"
                    placeholder="Category"
                    required
                />
            </span>
            <span class="rightInputs">
                <input
                    type="number"
                    name="stock"
                    placeholder="Stock"
                    required
                />
                <input
                    type="number"
                    name="price"
                    placeholder="Price"
                    required
                />
                <input type="number" name="code" placeholder="Code" />
            </span>
        </span>
        <fieldset>
            <legend>Status:</legend>
            <label><input type="radio" name="status" value="true" />
                True</label>
            <label><input type="radio" name="status" value="false" />
                False</label>
        </fieldset>
        <input type="file" name="file" placeholder="Thumbnail" />
        <button type="submit">Add Product</button>
    </form>
</div>
<div>
    <h1 class="realTime">Real Time Products</h1>
    <ul class="product-container">
        {{#each products}}
            <li class="product-card">
                <h2>{{this.title}}</h2>
                <h3>${{this.price}}</h3>
            </li>
        {{/each}}
    </ul>
    <ul class="pages">
        {{#each links}}
            <a href={{this.link}}><li>{{this.i}}</li></a>
        {{/each}}
    </ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/sockets.js"></script>